/*Editing navigation bar hover*/
.row.navbar > ul > li > a:hover{
	color: #ff8040;
	background-color: #36383A;
	transition-duration: 0.3s;	
}

/*Header*/
#site_title{
	vertical-align: bottom;
}

/*Footer*/
#footer{
	color: white;
	font-size: 11px;
	font-style: italic;
	background-color: #4a4d50;
}
